Marcin Krzyzanowski <marcin@krzyzanowskim.com> <758033+krzyzanowskim@users.noreply.github.com>
Marcin Krzyzanowski <marcin@krzyzanowskim.com> <krzyzanowskim@users.noreply.github.com>
Marcin Krzyzanowski <marcin@krzyzanowskim.com> <marcin@krzyzanowskim.com>
Marcin Krzyzanowski <marcin@krzyzanowskim.com> <marcin.krzyzanowski@gmail.com>
Dev Sanghani <devsanghani@gmail.com> <dev_sanghani@yahoo.com> 
Anders Borum <anders@algoritmer.dk> <palmin@users.noreply.github.com>
Péter Barabás <dr.peter.barabas@gmail.com> <48322346+p-barabas@users.noreply.github.com> <peter.barabas@arenim.com>